[Desktop Entry]
Name=Eisenkraut
Version=1.0
GenericName=Eisenkraut
Comment=Eisenkraut Audio File Editor
Exec=sh /home/hhrutz/Documents/devel/Eisenkraut/Eisenkraut.command
StartupWMClass=de-sciss-eisenkraut-Main
Icon=/home/hhrutz/Documents/devel/Eisenkraut/help/application.png
Categories=Audio;AudioVideo;
Terminal=false
Type=Application
