[Desktop Entry]
Name=Eisenkraut
Version=1.0
GenericName=Eisenkraut
Comment=Eisenkraut Audio File Editor
Exec=sh /home/hhrutz/Documents/devel/Eisenkraut/Eisenkraut.command %F
StartupWMClass=de-sciss-eisenkraut-Main
Icon=/home/hhrutz/Documents/devel/Eisenkraut/help/application.png
Categories=Audio;AudioVideo;
Terminal=false
Type=Application
MimeType=audio/basic;audio/x-aiff;audio/x-wav;audio/x-w64
